body{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  color: black;
}
form{
  max-width: 50%;
  margin: 0 auto;
}

label{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

label span{
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}
input, textarea{
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #999;
  padding: .8em 0;
  background-color: transparent;
}

input::placeholder, textarea::placeholder{
  color: #aaa;
  font-family: 'Montserrat',sans-serif;
}

.btn{
  background-color: #000;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  margin: 25px auto;
}

.btn:hover{
  background-color: #aaa;
  color: #000;
  transition: .5s;
  cursor: pointer;
}

button[disabled]{
  color: #dc3545;
  background-color: #f8d4da;
}

.btn.btn-dark{
  background-color: #18891b;
  border-radius: 0;
}

.btn.btn-outline{
  background-color: transparent;
  border-radius: 0;
  color: #000;
  border: 1px solid #000;
  padding: 7px 30px;
}

.btn.btn-outline:hover{
  background-color: #dc3545;
  color: #fff;
}

.container .error{
  color: #721c24;
  background-color: #f8d4da;
  border: 1px solid #f8d4da;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
}